In [3]:
users = ["User1","User2","User3","User4","User5"]
items =["Item A","Item B","Item C","Item D","Item E"]

# 用户评分矩阵
dataset = [
    [5,3,4,4,None],
    [3,1,2,3,3],
    [4,3,4,3,5],
    [3,3,1,5,4],
    [1,5,5,2,1],
]
import pandas as pd
df = pd.DataFrame(dataset, columns=items, index=users)

In [4]:
df

       Item A  Item B  Item C  Item D  Item E
User1       5       3       4       4     NaN
User2       3       1       2       3     3.0
User3       4       3       4       3     5.0
User4       3       3       1       5     4.0
User5       1       5       5       2     1.0

In [8]:
# 用户相似度计算
# 默认按照列进行计算，所以算用户相似度得先转置
user_sim = df.T.corr().round(4)

In [9]:
user_sim

        User1   User2   User3   User4   User5
User1  1.0000  0.8528  0.7071  0.0000 -0.7921
User2  0.8528  1.0000  0.4677  0.4900 -0.9001
User3  0.7071  0.4677  1.0000 -0.1612 -0.4666
User4  0.0000  0.4900 -0.1612  1.0000 -0.6415
User5 -0.7921 -0.9001 -0.4666 -0.6415  1.0000

In [10]:
# 物品相似度
item_sim = df.corr().round(4)
item_sim

        Item A  Item B  Item C  Item D  Item E
Item A  1.0000 -0.4767 -0.1231  0.5322  0.9695
Item B -0.4767  1.0000  0.6455 -0.3101 -0.4781
Item C -0.1231  0.6455  1.0000 -0.7206 -0.4276
Item D  0.5322 -0.3101 -0.7206  1.0000  0.5817
Item E  0.9695 -0.4781 -0.4276  0.5817  1.0000

## 预测user1对itemE的评分

#### user-based 使用用户间的相似度进行计算

In [16]:
sim_users = user_sim.loc['User1'].drop(['User1']).sort_values(ascending=False)[:2].index
score = 0
sim_sum = 0
for sim_user in sim_users:
    score += user_sim.loc['User1', sim_user] * df.loc[sim_user, 'Item E']
    sim_sum += user_sim.loc['User1', sim_user]
score /= sim_sum

In [18]:
score.round(2)

3.91

####  item-based 使用物品间的相似度进行计算

In [20]:
# 筛选出与Item E相似的top2物品
sim_items = item_sim['Item E'].drop('Item E').sort_values(ascending=False)[:2].index
# 计算User1对这些相似物品的加权评分作为User1对Item E的评分
score = 0
sim_sum = 0
for sim_item in sim_items:
    score += item_sim.loc[sim_item, 'Item E'] * df.loc['User1', sim_item] 
    sim_sum += item_sim.loc[sim_item, 'Item E']
score /= sim_sum
score.round(3)

4.625